<div class="row">
  <div class="col-xs-12">
    <img [src]="game.imageUrl" alt="" class="img-responsive" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{game.title}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{game.description}}
  </div>
</div>
<div class="row" *ngIf="game.rented">
  <div class="col-xs-12">
    <div class="alert alert-info" role="alert">Rented by {{game.user}} untill {{game.returnDate | date:'dd/MM/yyyy'}}</div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="rentGame()" [disabled]="game.rented">Rent</button>
    <button class="btn btn-success" (click)="editGame()">edit</button>
  </div>
</div>
